/* needed for interactive map in listplace.xsl */
div#map {
    height: 50vh;
}

/** Match bootstrap navlink focus outline color. */
:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

dd {
  margin-left: 1rem;
}

.wikidataimage {
    height: 300px;
}

.time {
    font-size: 0.8em;
    font-style: italic;
}
.time-heading{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}